*{
    overflow: hidden;
}

main img{
    height:20vw;
}

main{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cerceau{
    background: url('../assets/cerceau.png') center/100%;
    height: 80vh;
    width: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: cerceau 60s linear infinite;
}

.bvn{
    animation: cerceau-inverser 60s linear infinite;
    font-weight: bold;
    font-size: 30px;
    transition: 0.5s ease-in-out;
    text-align: center;
}

.desc{
    font-size: 0px;
    transition: 0.5s ease-in-out;
}

.bvn:hover{
    font-size: 50px;
    letter-spacing: 8px;
}

.bvn:hover > .desc{
    font-size: 30px;
    letter-spacing: 0px;    
}

  
@keyframes cerceau{
    100% {
        transform: rotate(360deg)
    }
}

@keyframes cerceau-inverser{
    100% {
        transform: rotate(-360deg)
    }
}